.developer{
  background-color: @ivoryblack;
  min-height: @app-min-height;
}
.contact-info{
    text-align:center;
    padding:25px;
    color:@green-1-lime;
    font-size: 20px;
    width: 100%;
    td {
      padding: 10px;
    }
}
