/**************************
 * @author Arslan Ahmed
 * @version 1.0
 * @created 17-07-2015
 ***************************/

/** Demo: Root div for this application **/
.demo
{
    height: 100%;
    background-color: @gray-89;
    position:relative;
};

/** Menu bar **/
.menu
{
  min-height:@menu-header-height;
  line-height:@menu-header-height;
  background-color: @sgi-teal-light;
  white-space:nowrap;
  color: @white;
  position:relative;
  font-size:@default-font-size;
  
  .icon
  {
    top: 5px;
    position:absolute;
    display:inline;
    padding-left:10px;
  }
  
  .header
  {
    width:100%;
    position:absolute;
    display:inline;
    text-align:center;
    font-weight: bold;
    font-size:17px;
  }
};

/** Miscellaneous styles **/
.bold
{
       font-weight:bold;
}
          
.default-btn
{
        font-family: Arial;
        color: @white;
        background-color: @sgi-teal-light;
        font-size: 20px;
        padding: 10px 35px 10px 35px;
        margin: 20px 10px;
        text-decoration: none;
}