/**************************
 * @author Arslan Ahmed
 * @version 1.0
 * @created 17-07-2015
 ***************************/

.navigation{
  background-color: @white;
  padding:5px 0px;
  margin: 0px;
  text-align:center;
  font-size:@default-icons-size;

  li {
      display: inline;
      padding-left:80px;
      vertical-align:middle;
     };
    
  i {
       cursor:pointer;
       padding-top:5px !important;
       color: @gray-40;
    };

  .first {
          padding-left:0px;
         };
}  
