/**************************
 * @author Arslan Ahmed
 * @version 1.0
 * @created 26-11-2016
 ***************************/

.sudoku {
  background-color: @ivory-2;
  min-height: @app-min-height;

  .header{
    font-family: 'Lato', sans-serif; 
    font-size: 54px; 
    font-weight: 300; 
    line-height: 58px; 
    margin: 0 0 30px;
    padding: 10px 0 0 0;
    text-align:center;
  }
  .sudoku-container{
    width: 50%;
    margin: 0 auto; 
    color: @sudoku-font-color;
    font-size: @sudoku-font-size;
    text-align: center;
  }
     
  .square {
    height:50px;
    min-height:10px;
    min-width:10px; 
    text-align:center;
    line-height:3;
    background-color:@sudoku-background-color;
  }

  .square-column {
    width:11%;
    display:inline-block;
    margin: 0 0 30px 0;
  }
  .square-border-top {
    border-top:@sudoku-border-color 1px solid;
  }
  
  .square-border-top-bold {
    border-top:@sudoku-border-color 2px solid;
  }
  
  .square-border-bottom-bold {
    border-bottom:@sudoku-border-color 2px solid;
  }
  
  .square-border-left {
    border-left: @sudoku-border-color 1px solid;
  }
  
  .square-border-left-bold {
    border-left: @sudoku-border-color 2px solid;
  }
  
  .square-border-right-bold {
    border-right: @sudoku-border-color 2px solid;
  }
}