/**************************
 * @author Arslan Ahmed
 * @version 1.0
 * @created 17-07-2015
 ***************************/

body{
  max-width:@app-max-width;
  min-width:@app-min-width;
  min-height:@app-min-height;
  height:100%;
  margin:0 auto;
  font-family: @default-font-family;
  background-color:@sgi-gray-36;
}
