/**************************
 * @author Arslan Ahmed
 * @version 1.0
 * @created 17-07-2015
 ***************************/

// Default screen variables
@app-max-width:1024px;
@app-min-width:360px;
@app-min-height:750px;

// Font & Icons
@default-font-size:12px;
@default-icons-size: 20px;
@default-font-family: "Times New Roman", Times, serif;

// Content variables
@footer-size:18px;
@menu-header-height:60px;
@transaction-footer-height:50px;
@payment-header-image-height:250px;
@payment-header-image-width:375px;
@box-height-one: 50px;

// Sudoku Game
@sudoku-border-color: #9e9e90;
@sudoku-background-color: transparent;
@sudoku-font-color: #284147;
@sudoku-font-size: 17px;