<!--
*****************************************
* @author Arslan Ahmed
* @version 1.0
* @created 17-07-2015
* ***************************************
-->

<div ng-controller="navigation">
	<ul class="navigation">
		<li ng-repeat="item in navigationItems" ng-class="{'first':$first}">
			<i ng-click="load(item.url)" class="{{item.icon}}"></i>
		</li>
	</ul>
</div>
