<!--
*****************************************
* @author Arslan Ahmed
* @version 1.0
* @created 17-07-2015
* ***************************************
-->

<div ng-controller="demo">
	<div class="demo">
		<div class="menu">
			<div class="header">
				{{"Demo"| uppercase}}
			</div>
		</div>
		<div ng-include src="components.navigation"></div>
		<div ng-include src="loadPage"></div>
	</div>
</div>