<!--
*****************************************
* @author Arslan Ahmed
* @version 1.0
* @created 17-07-2015
* ***************************************
-->

<div ng-controller="developer">
	<div class="developer">
		<div class="contact-info">
			<center>
				<table>
					<tr ng-repeat="dev in developer">
						<td><i class={{dev.icon}}></i></td>
						<td>{{dev.value}}</td>
					</tr>
				</table>
				<br>
				<i> Cheers ! </i>
			</center>
		</div>
	</div>
</div>