<!--
*****************************************
* @author Arslan Ahmed
* @version 1.0
* @created 26-11-2016
* ***************************************
-->

<div ng-controller="sudoku">
	<div class="sudoku">
		<div class="header"> Sudoku Puzzle </div>
		<div class="sudoku-container">
			<div ng-repeat="square in splitSquares" class="square-column">
				<div ng-repeat="(key, value) in square">
					<div class="square"
					ng-class="{
					'square-border-left-bold':( ($parent.$index %3 == 0)),
					'square-border-left':( $parent.$index %3 != 0),
					'square-border-right-bold':$parent.$last,
					'square-border-top-bold': ($index % 3 == 0) ,
					'square-border-bottom-bold': $last,
					'square-border-top': ($index % 3 !=0)
					}">
						{{(squares[key] != '') ? squares[key] : "&nbsp;"}}
					</div>
				</div>
			</div>
			
			<button class="btn btn-primary" ng-click="solve()"> Find Solution </button>
		</div>
	</div>
</div>